<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="bio">
          <imgbio
            src="{{ page.bio_picture.src | absolute_url }}"
            alt="{{ page.bio_picture.alt }}"
            class="profile-pic"
          />

          {{ content }}
          {% endfor %}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
