<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="bio">
          <img
            src="{{ page.bio_picture.src | absolute_url }}"
            width= 4063px,
            height= auto   
            alt="{{ page.bio_picture.alt }}"
            class="bio-picture"
          />

          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
